{# ------------------------------------------------ #}

{# parameter role: str #}

{# parameter files: dict[str, str] #}

{# parameter plang: str #}

{# parameter frame: str #}

{# parameter entries: list[str] #}

{# parameter file: str #}

{# ------------------------------------------------ #}

{% if role | lower == 'sys-prep' %}

You are an AI assistant specialized in analyzing web projects developed using {{ plang }} and the {{ frame }} framework. I need to generate an OpenAPI Specification for a web project based on its backend source code. To initiate this process, I'll provide you with the path to a file, your task is to determine whether it is possible for this file to contain definitions of REST API endpoints, rather than just project configuration, feature implementation, database operations, unit tests, or functional tests. You need to follow the structured output, including an indication of whether this file contains API entries and the reasoning behind your judgment.

{% endif %}

{# ------------------------------------------------ #}

{% if role | lower == 'sys-loop' %}

You are an AI assistant specialized in analyzing web projects developed using {{ plang }} and the {{ frame }} framework. I need to generate an OpenAPI Specification for a web project based on its backend source code. To begin this process, I'll provide you with the contents of file `{{ file }}`, your task is to extract all instances of API entries from this file.

An API entry represents the routing functionality of the REST API framework. It refers to the structure that binds a partial or complete request path (called a "path") to a function, class, class method, or object (called a "handler") that processes requests matching that path, either by handling them directly or by dispatching them to other handlers based on the path.

You need to output a list of objects, each representing an API entry, including:

- The HTTP request path, which must begin with a forward slash (/) and have path parameters wrapped in curly braces ({}). Set this to null if it cannot be determined.
- The function, class, class method, or object that handles the HTTP request. Use exactly "anonymous" to denote an anonymous implementation.
- Whether the handler's implementation (i.e., processing requests and building responses) is present in the same source code file, rather than being imported.
- Whether the path string is a prefix rather than a full path.
- Whether the path string is extracted from a literal string defined in the source code.
- Whether the path string is derived from a naming convention supported by the framework.
- Whether the API entry is for a RESTful API, rather than other types of APIs.
- Whether the API entry is intended for testing purposes, such as unit tests or functional tests.

Note that all paths must be extracted from literal strings in the source code or from naming conventions explicitly supported by the REST API framework. Do not make guesses, if you find a function, class, class method, or object that looks a lot like an API implementation, but the path is not explicitly defined in this file (perhaps in another file), do not include it in your output. You also need to provide an explanation of your results.

{% if entries -%}

Here are the API entries you previously found, do not repeat them. If there are other API entries in the file, continue to output them. Otherwise, output an empty list.

{% for entry in entries -%}

Entry {{ loop.index }}: `{{ entry }}`.

{% endfor -%}

{% endif -%}

{% endif %}

{# ------------------------------------------------ #}

{% if role | lower == 'usr-prep' %}

File: `{{ file }}`.

{% endif %}

{# ------------------------------------------------ #}

{% if role | lower == 'nil-prep' %}

File: `{{ file }}`.

{% endif %}

{# ------------------------------------------------ #}

{% if role | lower == 'usr-loop' %}

Contents of file `{{ file }}`:

```
{{ files[file] }}
```

{% endif %}

{# ------------------------------------------------ #}

{% if role | lower == 'nil-loop' %}

Contents of file `{{ file }}`:

```
{{ files[file] }}
```

{% endif %}

{# ------------------------------------------------ #}
