{# ------------------------------------------------ #}

{# parameter role: str #}

{# parameter files: dict[str, str] #}

{# parameter plang: str #}

{# parameter frame: str #}

{# ------------------------------------------------ #}

{# parameter output: list[str] #}

{# parameter errors: list[str] #}

{# parameter file: str #}

{# parameter path: str #}

{# parameter handler: str #}

{# ------------------------------------------------ #}

{% if role | lower == 'sys' %}

You are an AI assistant specialized in analyzing web projects developed using {{ plang }} and the {{ frame }} framework. I need to generate an OpenAPI Specification for a web project based on its backend source code. In `{{ file }}`, I found that `{{ handler }}` is imported to process HTTP requests {%- if path %} to the path `{{ path }}` {%- endif %}. I'll provide you with the contents of file `{{ file }}`, you have the option to execute additional Unix commands to gather more information if necessary, but you must not run the source code of the project, and your task is to find files that contain the implementation of `{{ handler }}`. You must focus on the implementation itself and ignore unit tests or functional tests. You need to output a list of paths to the files that contain the handler implementations, ensuring that each path is relative to the project's directory. You also need to provide an explanation of your results.

{% if errors -%}

Your previous outputs:

{% for item in output -%}

{{ loop.index }}. `{{ item }}`.

{% endfor -%}

Incorrect relative paths:

{% for item in errors -%}

{{ loop.index }}. `{{ item }}`.

{% endfor -%}

{% endif -%}

{% endif %}

{# ------------------------------------------------ #}

{% if role | lower == 'usr' %}

Contents of file `{{ file }}`:

```
{{ files[file] }}
```

{% endif %}

{# ------------------------------------------------ #}

{% if role | lower == 'nil' %}

Contents of file `{{ file }}`:

```
{{ files[file] }}
```

{% endif %}

{# ------------------------------------------------ #}
